services:
  checker:
    build:
      context: checker
    container_name: gopingpatrol-checker
    volumes:
      - ./config/config.toml:/app/config.toml
    depends_on:
      - rabbitmq
  bot:
    build:
      context: bot
    container_name: gopingpatrol-bot
    volumes:
      - ./config/config.toml:/app/config.toml
    depends_on:
      - checker
      - rabbitmq
      - bot-db
  bot-db:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    volumes:
      - gopingpatroldata:/var/lib/postgresql
  rabbitmq:
    image: rabbitmq:4.2-management
    ports:
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"

volumes:
  gopingpatroldata:
